h1{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navigasjonsmenyen{
    display: flex;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0;  
}

.navigasjonsmenyen li a{
    text-decoration: none;
    color: black;
}

.navigasjonsmenyen li a:hover{
    text-decoration: underline;
}

main{
    max-width: 70%;
    min-width: 400px;
    padding: 20px;
}

article{
    box-shadow: 0 4px 8px;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
}

footer{
    background-color: darkgray;
    color: white;
    width: 100%;
}

footer a{
    color: white;
}