main{
    background-image: url(../sprites/bakgrunn.jpg);
    background-size: contain;
    height: 500px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@keyframes runningMario{ /*dobavlenie animacii. s kakoy kartinki po kakuyo*/
    from {background-image: url(../sprites/staa.png);}
    to {background-image: url(../sprites/lopende.png);}
}

@keyframes movingMario{
    0%{ /*gde nachinaetsya dvisenie*/
        left: 0;
        bottom: 53px;
    }
    20%{ /* 100% vsya animacia*/
        left: 409px;
        bottom: 53px;
    }
    40%{
        left: 409px;
        bottom: 117px;
    }
    50%{
        left: 409px;
        bottom: 53px;
    }
    60%{
        bottom: 53px;
        left: 575px;
    }
    70%{
        bottom: 200px;
    }
    100%{
        bottom: 53px;
        left: 800px;
    }
}

@keyframes marioDies{
    0%{
        background-image: url(../sprites/dead.png);
        bottom: 53px;
        left: 800px;
        transform: rotate(0deg) scale(1);
    }
    100%{
        bottom: 150px;
        transform: rotate(-45deg) scale(1.8);
        background-image: url(../sprites/dead.png);
    }
}

@keyframes runningGompa{
    from {
        background-image: url(../sprites/sopp.png);
    }
    to {
        background-image: url(../sprites/sopp-kopi.png);
    }
}

@keyframes movingGompa{
    from {right: 0;}
    to {right: 347px;}
}

@keyframes movingCoin{
    0%{
        background-image: url(../sprites/penge.png);
        left: 424px;
        bottom: 198px;
    }
    50%{
        left: 424px;
        bottom: 220px;
    }
    100%{
        left: 424px;
        bottom: 240px;
    }

}

#supermario{
    /* background-image: url(../sprites/staa.png); */
    background-size: cover;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 53px; /*rasmeschenie na visote snizu*/
    animation-name: runningMario, movingMario, marioDies; /*dobavlayem animaciu @keyframes. Cheres komu dobavlyaem vtoruyu animaciu */
    animation-iteration-count: infinite, 1, 1; /*infinite dlya dviseniya animacii bolshe odnogo rasa*/
    animation-duration: 0.5s, 3s, 0.8s; /* skorost ismenenia kartinki*/
    animation-fill-mode: none, forwards, forwards; /*chto proisoydet v konce*/
    animation-delay: 0s, 0s, 3s;
    z-index: 999; /*chtob mario bil speredi na kartinke*/
}

#gompa{
    /* background-image: url(../sprites/sopp.png); */
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 53px;
    right: 0;
    animation-name: runningGompa, movingGompa;
    animation-iteration-count: infinite, infinite;
    animation-duration: 0.5s, 1s;
    animation-direction: alternate;
}

#coin{
    /* background-image: url(../sprites/penge.png); */
    background-size:contain;
    height: 30px;
    width: 30px;
    position: absolute;
    animation-name: movingCoin;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-delay: 1s;
}